Source: cbrutekrag
Priority: optional
Section: net
Maintainer: Jorge Matricali <jorgematricali@gmail.com>
Build-Depends: debhelper (>= 9), libssh-dev
Standards-Version: 4.2.0
Homepage: https://github.com/matricali/cbrutekrag
Vcs-Git: git://github.com/matricali/cbrutekrag.git
Vcs-Browser: https://github.com/matricali/cbrutekrag

Package: cbrutekrag
Architecture: i386 amd64
Depends: libssh-4 (>= 0.5.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: SSH bruteforce tool
 Penetration tests on SSH servers using brute force or dictionary attacks.
